body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #d0bae6, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 15px;
    
}

.bot-logo {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    object-fit: cover;

}


/* Chat Card */
.chat-wrapper {
    width: 420px;
    height: 600px;
    background: #cca3f8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Header */
.chat-header {
    color: #4a3262;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Chat Area */
.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: #f9f9fb;
    display: flex;
    flex-direction: column;
}

/* Messages */
.message {
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 75%;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.4;
}

/* User Bubble */
.user-message {
    align-self: flex-end;
    background: #764ba2;
    color: white;
    border-bottom-right-radius: 5px;
}

/* Bot Bubble */
.bot-message {
    align-self: flex-start;
    background: #e4e6ff;
    color: #333;
    border-bottom-left-radius: 5px;
}

/* Input Area */
.input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #eee;
    background: white;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

button {
    margin-left: 8px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background: #764ba2;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background: #764ba2;
}

/* User Selector Container */
.user-select-container {
    padding: 10px 15px;
    background: #f3f4ff;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #e0e0ff;
    border-radius: 5px;
}

/* Label */
.user-select-container label {
    font-size: 13px;
    font-weight: 600;
    color: #444;
}

/* Select Styling */
#user-select {
    flex: 1;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    text-decoration: none;
    background: #ba86ee;
    color: #4a3262;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Hover Effect */
#user-select:hover {
    border-color: #764ba9;
}

/* Focus Effect */
#user-select:focus {
    border-color: #764ba9;
    box-shadow: 0 0 5px #764ba9;
}
